<% content_for :javascript do %>
    <script type="text/javascript">
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                icon: '/mailfunnels-logo.jpg'
            });
        });
    </script>



    <%= javascript_include_tag 'pages/account.js' %>
    <%= stylesheet_link_tag 'dashboard.css' %>

    <div class="hidden">
      <input id="current_app_id" type="number" value="<%= @app.id %>"/>
    </div>




    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <div class="title_left">
            <h3>MailFunnels
              <small>My Account</small>
            </h3>
          </div>

          <hr/>
          <div class="clearfix"></div>

        </div>
      </div>
    </div>

    <hr class="fade-2"/>



    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_content">
            <div class="col-md-3 col-sm-3 col-xs-12 profile_left">

              <h3>
                <% if @app.first_name %>
                    <%= @app.first_name %>
                <% else %>
                    Name
                <% end %>

                <% if @app.last_name %>
                    <%= @app.last_name %>
                <% end %>
              </h3>
              <hr class="fade-2"/>

              <ul class="list-unstyled user_data">


                <% if @confirmed %>
                    <h4 class="text-success">Email Confirmed</h4>
                <% else %>
                    <h4 class="text-danger">Email Not Confirmed</h4>
                <% end %>

                <li>
                  <% if @app.from_email %>
                      <i class="fa fa-envelope user-profile-icon"></i> <%= @app.from_email %>
                  <% else %>
                      <i class="fa fa-envelope user-profile-icon"></i> From Email Not Set
                  <% end %>

                </li>

                <li>
                  <% if @app.from_name %>
                      <i class="fa fa-id-card user-profile-icon"></i> <%= @app.from_name %>
                  <% else %>
                      <i class="fa fa-id-card user-profile-icon"></i> From Name Not Set
                  <% end %>

                </li>
              </ul>


            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">


              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active">
                    <a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">Account
                      Information</a>
                  </li>
                  <li role="presentation" class="">
                    <a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Email
                      Information</a>
                  </li>
                  <li role="presentation" class="">
                    <a href="#tab_pricing" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Plans</a>
                  </li>
                  <li role="presentation" class="">
                    <a href="#tab_password" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">Change Password</a>
                  </li>

                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                    <div class="col-xs-10">
                      <form class="form-horizontal form-label-left">
                        <fieldset>
                          <legend>Account information</legend>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">First Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="first_name_input" type="text" value="<%= @app.first_name %>" class="form-control" placeholder="First Name">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Last Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="last_name_input" type="text" value="<%= @app.last_name %>" class="form-control" placeholder="Last Name">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Email</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="email_input" type="text" value="<%= @app.email %>" class="form-control" placeholder="Email">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Street Address</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="street_address_input" type="text" value="<%= @app.street_address %>" class="form-control" placeholder="Street Address">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">City</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="city_input" type="text" value="<%= @app.city %>" class="form-control" placeholder="City">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">Zip Code</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="zip_code_input" type="number" value="<%= @app.zip %>" class="form-control" placeholder="Zip Code">
                            </div>
                          </div>


                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">State</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="state_input" type="text" value="<%= @app.state %>" class="form-control" placeholder="State">
                            </div>
                          </div>
                        </fieldset>


                        <br>

                        <div class="row">
                          <button id="save_account_info_button" type="button" class="btn btn-success btn-border pull-right">Save</button>
                        </div>

                      </form>
                    </div>

                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                    <div class="col-xs-10">
                      <form class="form-horizontal form-label-left">
                        <fieldset>
                          <legend>
                            Email Information
                          </legend>


                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">From Email</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="from_email_input" type="text" value="<%= @app.from_email %>" class="form-control" placeholder="Email address to send emails from">
                            </div>
                          </div>

                          <div class="form-group">
                            <label class="control-label col-md-3 col-sm-3 col-xs-12">From Name</label>
                            <div class="col-md-9 col-sm-9 col-xs-12">
                              <input id="from_name_input" type="text" value="<%= @app.from_name %>" class="form-control" placeholder="Name to sign sent emails">
                            </div>
                          </div>

                        </fieldset>
                        <br>

                        <div class="row">
                          <button id="save_email_info_button" type="button" class="btn btn-success btn-border pull-right">Save</button>
                        </div>

                      </form>
                    </div>
                  </div>

                  <div role="tabpanel" class="tab-pane fade" id="tab_pricing" aria-labelledby="pricing-tab">
                    <div class="col-xs-12">

                      <fieldset>
                        <legend>
                          Plans
                        </legend>


                        <table class="table table-striped">
                          <thead>
                          <tr>
                            <th>Plan</th>
                            <th>Pricing</th>
                            <th>Duration</th>
                            <th class="text-center" style="width: 80px;">Action</th>
                          </tr>
                          </thead>
                          <tbody>
                          <% if @highestTag < 106 %>
                              <tr>
                                <td>Up to 1,000 Subscribers</td>
                                <td>$9.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary btn-sm">Upgrade</a></td>
                              </tr>
                          <% else %>
                              <tr>
                                <td>Up to 1,000 Subscribers</td>
                                <td>$9.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary disabled btn-sm">Purchased</a></td>
                              </tr>
                          <% end %>


                          <% if @highestTag < 108 %>
                              <tr>
                                <td>Up to 2,000 Subscribers</td>
                                <td>$29.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary btn-sm">Upgrade</a></td>
                              </tr>
                          <% else %>
                              <tr>
                                <td>Up to 2,000 Subscribers</td>
                                <td>$29.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary disabled btn-sm">Purchased</a></td>
                              </tr>
                          <% end %>

                          <% if @highestTag < 110 %>
                              <tr>
                                <td>Up to 4,000 Subscribers</td>
                                <td>$49.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary btn-sm">Upgrade</a></td>
                              </tr>
                          <% else %>
                              <tr>
                                <td>Up to 4,000 Subscribers</td>
                                <td>$49.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary disabled btn-sm">Purchased</a></td>
                              </tr>
                          <% end %>

                          <% if @highestTag < 112 %>
                              <tr>
                                <td>Up to 8,000 Subscribers</td>
                                <td>$89.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary btn-sm">Upgrade</a></td>
                              </tr>
                          <% else %>
                              <tr>
                                <td>Up to 8,000 Subscribers</td>
                                <td>$89.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary disabled btn-sm">Purchased</a></td>
                              </tr>
                          <% end %>

                          <% if @highestTag < 114 %>
                              <tr>
                                <td>Up to 12,000 Subscribers</td>
                                <td>$139.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary btn-sm">Upgrade</a></td>
                              </tr>
                          <% else %>
                              <tr>
                                <td>Up to 12,000 Subscribers</td>
                                <td>$139.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary disabled btn-sm">Purchased</a></td>
                              </tr>
                          <% end %>

                          <% if @highestTag < 116 %>
                              <tr>
                                <td>Up to 20,000 Subscribers</td>
                                <td>$219.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary btn-sm">Upgrade</a></td>
                              </tr>
                          <% else %>
                              <tr>
                                <td>Up to 20,000 Subscribers</td>
                                <td>$219.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary disabled btn-sm">Purchased</a></td>
                              </tr>
                          <% end %>

                          <% if @highestTag < 118 %>
                              <tr>
                                <td>Up to 20,000 Subscribers</td>
                                <td>$219.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary btn-sm">Upgrade</a></td>
                              </tr>
                          <% else %>
                              <tr>
                                <td>Up to 35,000 Subscribers</td>
                                <td>$289.99</td>
                                <td>1 Month</td>
                                <td><a class="btn btn-primary disabled btn-sm">Purchased</a></td>
                              </tr>
                          <% end %>


                          </tbody>
                        </table>
                      </fieldset>
                      <br>

                    </div>
                  </div>

                  <!-- START CHANGE PASSWORD TAB -->
                  <div role="tabpanel" class="tab-pane fade" id="tab_password" aria-labelledby="password-tab">
                    <div class="col-xs-10">
                      <form class="form-horizontal form-label-left">
                        <fieldset>
                          <legend>
                            Change Password
                          </legend>

                          <div class="item form-group">
                            <label for="password" class="control-label col-md-3">Password</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="mf_change_password_input" type="password" class="form-control col-md-7 col-xs-12" placeholder="Password" required="required">
                            </div>
                          </div>

                          <div class="item form-group">
                            <label for="password" class="control-label col-md-3">Confirm Password</label>
                            <div class="col-md-6 col-sm-6 col-xs-12">
                              <input id="mf_confirm_password_input"  type="password"  class="form-control col-md-7 col-xs-12" placeholder="Confirm Password" required="required">
                            </div>
                          </div>

                        </fieldset>
                        <br>

                        <div class="row">
                          <button id="mf_change_password_submit" type="button" class="btn btn-success btn-border pull-right">Change Password</button>
                        </div>

                      </form>
                    </div>
                  </div>
                  <!-- END CHANGE PASSWORD TAB -->

                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>




<% end %>


