<% content_for :javascript do %>
    <script type="text/javascript">
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                icon: '/mailfunnels-logo.jpg'
            });
        });
    </script>



    <%= javascript_include_tag 'triggers_manifest.js' %>
    <%= javascript_include_tag 'pages/admin_panel.js' %>
    <%= stylesheet_link_tag 'dashboard.css' %>

    <div class="hidden">
      <input id="current_app_id" type="number" value="<%= @app.id %>"/>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <div class="title_left">
            <h3>MailFunnels <small>Admin Panel</small></h3>
          </div>

          <hr/>
          <div class="clearfix"></div>

        </div>
      </div>
    </div>

    <hr class="fade-2"/>

    <div class="row">

      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Users</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <!-- Triggers Table -->
            <table id="users_table" class="table table-bordered text-center">

              <!-- Triggers Table Header -->
              <thead>
              <tr>
                <th class="text-center">ID</th>
                <th class="text-center">First Name</th>
                <th class="text-center">Last Name</th>
                <th class="text-center">Email</th>

                <th class="text-center">Action</th>
              </tr>
              </thead>
              <!-- END Hooks Table Header -->

              <!-- Hooks Table BODY -->
              <tbody>
              <% if @users.any? %>
                  <% @users.each do |user| %>

                      <tr>
                        <td><%= user.clientid %></td>
                        <td><%= user.first_name %></td>
                        <td><%= user.last_name %></td>
                        <td><%= user.email %></td>
                        <td style="width: 50px;">
                          <button class="btn btn-sm btn-primary btn-border mf_admin_user_info"><i class="fa fa-plus"></i></button>
                        </td>
                      </tr>
                  <% end %>
              <% end %>

              </tbody>
              <!-- END Hooks Table BODY -->

            </table>
            <!-- END Hooks Table -->
          </div>
        </div>
      </div>

    </div>


<% end %>



