<% content_for :javascript do %>
    <script type="text/javascript">
        window.mainPageTitle = 'Main Page';
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                title: window.mainPageTitle,
                icon: '/shopify.png'
            });
        });
    </script>


    <%= javascript_include_tag 'dashboard_manifest' %>
    <%= javascript_include_tag 'pages/home.js' %>
    <%= stylesheet_link_tag 'dashboard.css' %>

    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <div class="title_left">
            <h3>MailFunnels <small>Dashboard</small></h3>
          </div>
        </div>
        <hr class="fade-2"/>
      </div>
    </div>



    <div class="row">
      <div class="col-xs-12">
        <div class="">
          <div class="x_content">

            <div class="row">

              <a href="<%= root_url %>all_subscribers">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-users text-primary"></i>
                  </div>
                  <div class="count"><%= @app.subscribers.size %></div>

                  <h3>Total Subscribers</h3>
                </div>
              </div>
              </a>

              <a href="<%= root_url %>funnels">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-filter text-primary"></i>
                  </div>
                  <div class="count"><%= @app.funnels.size %></div>

                  <h3>Funnels</h3>
                </div>
              </div>
              </a>

              <a href="<%= root_url %>lists">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-envelope-o text-primary"></i>
                  </div>
                  <div class="count"><%= @app.email_lists.size %></div>

                  <h3>Email Lists</h3>
                </div>
              </div>
              </a>

              <a href="<%= root_url %>email_templates">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-envelope-o text-primary"></i>
                  </div>
                  <div class="count"><%= @app.email_templates.size %></div>

                  <h3>Email Templates</h3>
                </div>
              </div>
              </a>

            </div>



            <div class="row">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-envelope text-primary"></i>
                  </div>

                  <div class="count"><%= @num_email_sent %></div>

                  <h3>Emails Sent</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-envelope-open-o text-primary"></i>
                  </div>
                  <div class="count"><%= @num_email_opened %></div>

                  <h3>Emails Opened</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-envelope-open text-primary"></i>
                  </div>
                  <div class="count"><%= @num_email_clicked %></div>

                  <h3>Emails Clicked</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-dollar text-primary"></i>
                  </div>
                  <div class="count"><%= number_to_currency(@total_revenue) %></div>

                  <h3>Total Revenue</h3>
                </div>
              </div>
            </div>

            <br>
          </div>
        </div>
      </div>
    </div>

    <hr class="fade-2"/>


    <div class="row">

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Last 24 Hours</h2>
            <div class="clearfix"></div>
          </div>
          <hr class="fade-2"/>
          <div class="x_content">
            <table class="table table-striped">
              <tbody>
              <tr>
                <th scope="row">New Subscribers:</th>
                <td id="new_subscribers_day">Loading...</td>
              </tr>
              <tr>
                <th scope="row">Unsubscribers</th>
                <td id="unsubscribers_day">Loading...</td>
              </tr>
              <tr>
                <th scope="row">Emails Sent:</th>
                <td id="emails_sent_day">Loading...</td>
              </tr>
              <tr>
                <th scope="row">Emails Opened:</th>
                <td id="emails_opened_day">Loading...</td>
              </tr>
              <tr>
                <th scope="row">Emails Clicked</th>
                <td id="emails_clicked_day">Loading...</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Last 7 Days</h2>
            <div class="clearfix"></div>
          </div>
          <hr class="fade-2"/>
          <div class="x_content">
            <table class="table table-striped">
              <tbody>
              <tr>
                <th scope="row">New Subscribers:</th>
                <td id="new_subscribers_week">Loading...</td>
              </tr>
              <tr>
                <th scope="row">Unsubscribers</th>
                <td id="unsubscribers_week">Loading...</td>
              </tr>
              <tr>
                <th scope="row">Emails Sent:</th>
                <td id="emails_sent_week">Loading...</td>
              </tr>
              <tr>
                <th scope="row">Emails Opened:</th>
                <td id="emails_opened_week">Loading...</td>
              </tr>
              <tr>
                <th scope="row">Emails Clicked</th>
                <td id="emails_clicked_week">Loading...</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Last 30 Days</h2>
            <div class="clearfix"></div>
          </div>
          <hr class="fade-2"/>
          <div class="x_content">
            <table class="table table-striped">
              <tbody>
              <tr>
                <th scope="row">New Subscribers:</th>
                <td id="new_subscribers_month">Loading...</td>
              </tr>
              <tr>
                <th scope="row">Unsubscribers</th>
                <td id="unsubscribers_month">Loading...</td>
              </tr>
              <tr>
                <th scope="row">Emails Sent:</th>
                <td id="emails_sent_month">Loading...</td>
              </tr>
              <tr>
                <th scope="row">Emails Opened:</th>
                <td id="emails_opened_month">Loading...</td>
              </tr>
              <tr>
                <th scope="row">Emails Clicked</th>
                <td id="emails_clicked_month">Loading...</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>


<% end %>
