<% content_for :javascript do %>
    <script type="text/javascript">
        window.mainPageTitle = 'Main Page';
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                title: window.mainPageTitle,
                icon: '/shopify.png'
            });
        });
    </script>


    <%= javascript_include_tag 'dashboard_manifest' %>
    <%= stylesheet_link_tag 'dashboard.css' %>


    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="x_content">
            <div class="row">
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-users text-info"></i>
                  </div>
                  <div class="count"><%= @app.subscribers.size %></div>

                  <h3>Total Subscribers</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-check-square-o text-info"></i>
                  </div>
                  <div class="count"><%= @app.funnels.size %></div>

                  <h3>Funnels</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-envelope-o text-info"></i>
                  </div>
                  <div class="count"><%= @app.email_lists.size %></div>

                  <h3>Email Lists</h3>
                </div>
              </div>
              <div class="animated flipInY col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="tile-stats">
                  <div class="icon"><i class="fa fa-tag text-info"></i>
                  </div>
                  <div class="count">14</div>

                  <h3>Products</h3>
                </div>
              </div>
            </div>

            <div class="row top_tiles" style="margin: 10px 0;">
              <div class="col-md-3 tile">
                <span>Total Emails Sent</span>
                <h2>231,809</h2>
                <span class="sparkline_two" style="height: 160px;"><canvas width="196" height="40" style="display: inline-block; width: 196px; height: 40px; vertical-align: top;"></canvas></span>
              </div>
              <div class="col-md-3 tile">
                <span>Total Emails Opened</span>
                <h2>31,809</h2>
                <span class="sparkline_two" style="height: 160px;"><canvas width="196" height="40" style="display: inline-block; width: 196px; height: 40px; vertical-align: top;"></canvas></span>
              </div>
              <div class="col-md-3 tile">
                <span>Total Email Clicks</span>
                <h2>1,809</h2>
                <span class="sparkline_two" style="height: 160px;"><canvas width="196" height="40" style="display: inline-block; width: 196px; height: 40px; vertical-align: top;"></canvas></span>
              </div>
              <div class="col-md-3 tile">
                <span>Total Revenue</span>
                <h2>$ 1,231,809</h2>
                <span class="sparkline_three" style="height: 160px;"><canvas width="200" height="40" style="display: inline-block; width: 200px; height: 40px; vertical-align: top;"></canvas></span>
              </div>
            </div>

            <br>
          </div>
        </div>
      </div>
    </div>

    <div class="row">

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Last 24 Hours</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table table-striped">
              <tbody>
              <tr>
                <th scope="row">New Subscribers:</th>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Emails Sent:</th>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Emails Opened:</th>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Emails Clicked</th>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Revenue</th>
                <td>$0.00</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Last 7 Days</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table table-striped">
              <tbody>
              <tr>
                <th scope="row">New Subscribers:</th>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Emails Sent:</th>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Emails Opened:</th>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Emails Clicked</th>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Revenue</th>
                <td>$0.00</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

      <div class="col-md-4 col-sm-6 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2>Last 30 Days</h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <table class="table table-striped">
              <tbody>
              <tr>
                <th scope="row">New Subscribers:</th>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Emails Sent:</th>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Emails Opened:</th>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Emails Clicked</th>
                <td>0</td>
              </tr>
              <tr>
                <th scope="row">Revenue</th>
                <td>$0.00</td>
              </tr>
              </tbody>
            </table>

          </div>
        </div>
      </div>

    </div>


<% end %>
