<% content_for :javascript do %>
    <script type="text/javascript">
        window.mainPageTitle = 'Main Page';
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                title: window.mainPageTitle,
                icon: '/shopify.png',
                buttons: {
                    secondary: {
                        label: "Mail-Funnel Home",
                        href: "http://docs.shopify.com/embedded-app-sdk",
                        target: 'new'
                    }
                }
            });
        });
    </script>


    <%= javascript_include_tag 'funnel_builder_manifest' %>
    <%= stylesheet_link_tag 'components/jquery.flowchart.css' %>


    <div class="page-title">
      <div class="title_left">
        <h3>Funnel Editor <small><%= @funnel.attributes['attributes'].name %></small></h3>
      </div>

      <hr/>
      <div class="clearfix"></div>
    </div>


    <div class="row">
      <div class="col-xs-12">

        <div class="row">


          <!-- START RIGHT SIDE PANELS -->
          <div class="col-xs-12 col-sm-3 pull-right">

            <!-- Campaign Info Panel -->
            <div class="panel panel-primary">

              <!-- Campaign Info Title -->
              <div class="panel-heading">
                <h3 class="panel-title">Funnel Info</h3>
              </div>

              <!-- Campaign Info Body -->
              <div class="panel-body">
                <h5><b>Funnel Name: </b> <%= @funnel.attributes['attributes'].name %></h5>
                <h5><b>Description: </b> <%= @funnel.attributes['attributes'].description %></h5>
              </div>

            </div>
            <hr>
            <!-- END Campaign Info Panel -->

            <!-- Job Actions Panel -->
            <div class="panel panel-primary">

              <!-- Campaign Info Title -->
              <div class="panel-heading">
                <h3 class="panel-title">Funnel Actions</h3>
              </div>

              <!-- Campaign Info Body -->
              <div class="panel-body">
                <button class="btn btn-primary" id="create_button">Add Trigger</button>
                <button class="btn btn-danger" style="" id="delete_selected_button">Delete Selected Job</button>
                <button class="btn btn-success" style="" id="edit_selected_button">Edit Selected Job</button>
              </div>

            </div>
            <hr>
            <!-- END Job Actions Panel -->

            <!-- Select Campaign Email List Panel -->
            <div class="panel panel-primary">

              <!-- Campaign Info Title -->
              <div class="panel-heading">
                <h3 class="panel-title">Change Campaign Email List</h3>
              </div>

              <!-- Campaign Info Body -->
              <div class="panel-body">
                <div class="col-xs-12">

                </div>
              </div>

            </div>
            <!-- END Selest Campaign Email List Panel -->

          </div>
          <!-- END RIGHT SIDE PANELS -->

          <!-- START RIGHT SIDE PANELS -->
          <div class="col-xs-12 col-sm-9 pull-left">

            <!-- Campaign Info Panel -->
            <div class="panel panel-primary">

              <!-- Campaign Info Title -->
              <div class="panel-heading">
                <h3 class="panel-title">Funnel Editor</h3>
              </div>

              <!-- Campaign Info Body -->
              <div class="panel-body text-center" id="funnel_builder">


                <div class="clearfix"></div>
              </div>

            </div>
            <hr>
            <!-- END Campaign Info Panel -->

          </div>
          <!-- END RIGHT SIDE PANELS -->


        </div>
      </div>
    </div>



    <!-- NEW JOB MODAL -->
    <div class="modal fade" id="modal_node_create" aria-labelledby="#modal_node_create">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Trigger</h4>
          </div>

            <form class="form-horizontal form-label-left">

              <div class="modal-body">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Trigger Label</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input id="new_trigger_label_input" type="text" class="form-control"  placeholder="Enter a label for the trigger"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Trigger
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="form-control" id="email_list_select">
                      <option value="">Select A Trigger To Add...</option>
                      <% @triggers.each do |trigger| %>
                          <option value="<%= trigger.id %>"><%= trigger.attributes['attributes'].name %></option>
                      <% end %>
                    </select>
                  </div>
                </div>

              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="reset" class="btn btn-primary">Reset</button>
                <button id="add_new_trigger_button" type="button" class="btn btn-success">Add Trigger</button>
              </div>

            </form>
        </div>
      </div>
    </div>
    <!-- END NEW JOB MODAL -->

<% end %>