<% content_for :javascript do %>
    <script type="text/javascript">
        window.mainPageTitle = 'Main Page';
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                title: window.mainPageTitle,
                icon: '/shopify.png',
                buttons: {
                    secondary: {
                        label: "Mail-Funnel Home",
                        href: "http://docs.shopify.com/embedded-app-sdk",
                        target: 'new'
                    }
                }
            });
        });
    </script>


    <%= javascript_include_tag 'funnel_builder_manifest' %>
    <%= stylesheet_link_tag 'components/jquery.flowchart.css' %>

    <div class="hidden">
      <input id="current_app_id" type="number" value="<%= @app.id %>"/>
      <input id="current_funnel_id" type="number" value="<%= @funnel.id %>"/>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="page-title">
          <div class="title_left">
            <h3>Funnel Editor <small><%= @funnel.name %></small></h3>
          </div>

          <hr/>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <hr class="fade-2"/>



    <div class="row">
      <div class="col-xs-12">

        <div class="row">


          <!-- START RIGHT SIDE PANELS -->
          <div class="col-xs-12 col-sm-3 pull-right">

            <div class="x_panel tile">
              <div class="x_title">
                <h2>Funnel Info</h2>
                <div class="clearfix"></div>
              </div>
              <hr class="fade-2"/>


              <div class="x_content">
                <h5><b>Funnel Name: </b> <%= @funnel.name %></h5>
                <h5><b>Description: </b> <%= @funnel.description %></h5>

              </div>
            </div>

            <hr>
            <!-- END Campaign Info Panel -->


            <div class="x_panel tile">
              <div class="x_title">
                <h2>Funnel Actions</h2>
                <div class="clearfix"></div>
              </div>
              <hr class="fade-2"/>

              <div class="x_content">
                <button class="btn btn-block btn-border btn-primary" id="create_button">Add Node</button>
                <button class="btn btn-block btn-border btn-success" id="preview_email_button">Preview Email</button>
                <button class="btn btn-block btn-border btn-success" id="view_selected_button" data-node="2">View Node Info</button>
                <button class="btn btn-block btn-border btn-danger" id="delete_selected_button">Delete Node</button>
              </div>
            </div>

            <hr>
            <!-- END Job Actions Panel -->

          </div>
          <!-- END RIGHT SIDE PANELS -->

          <!-- START RIGHT SIDE PANELS -->
          <div class="col-xs-12 col-sm-9 pull-left">


            <div class="x_panel tile">

              <div class="x_content text-center" id="funnel_builder">

              </div>
            </div>

          </div>
          <!-- END RIGHT SIDE PANELS -->


        </div>
      </div>
    </div>



    <!-- NEW NODE MODAL -->
    <div class="modal fade" id="modal_node_create" aria-labelledby="#modal_node_create">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Node</h4>
          </div>

          <form class="form-horizontal form-label-left">

            <div class="modal-body">

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Node Label</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input id="new_node_label_input" type="text" class="form-control"  placeholder="Enter a label for the node"/>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Email Template
                </label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <select class="form-control" id="new_node_email_template_select">
                    <option value="">Select An Email Template To Add...</option>
                    <% @app.email_templates.each do |template| %>
                        <option value="<%= template.id %>"><%= template.name %></option>
                    <% end %>
                  </select>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Delay Time</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <input id="new_node_delay_time_input" type="number" class="form-control"  placeholder="Delay Time"/>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12">Delay Unit</label>
                <div class="col-md-9 col-sm-9 col-xs-12">
                  <select class="form-control" id="unit_select">
                    <option value="1">Minutes</option>
                    <option value="2">Hours</option>
                  </select>
                </div>
              </div>

            </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="reset" class="btn btn-primary">Reset</button>
              <button id="new_node_submit_button" type="button" class="btn btn-success">Submit</button>
            </div>

          </form>
        </div>
      </div>
    </div>
    <!-- END NODE MODAL -->

    <!-- VIEW TEMPLATE MODAL -->
    <div class="modal fade" id="view_template_modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Email Preview</h4>
          </div>

          <div class="modal-body">

            <%= render :partial => "funnels/email_preview" %>

            <div class="clearfix"></div>

          </div>
        </div>
      </div>
    </div>

    <!-- END TEMPLATE MODAL -->



    <!-- VIEW NODE MODAL -->
    <div class="modal fade" id="view_node_modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Funnel Node Info</h4>
          </div>

          <div class="modal-body">
            <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">

              <!-- START NODE GENERAL INFO -->
              <div class="panel">
                <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  <h4 class="panel-title">General Info</h4>
                </a>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                  <div class="panel-body">
                    <table class="table table-striped">
                      <tbody>
                      <tr>
                        <th scope="row">Funnel Name:</th>
                        <td id="view_node_funnel_name"><%= @funnel.name %></td>
                      </tr>
                      <tr>
                        <th scope="row">Node Name:</th>
                        <td id="view_node_name">Loading...</td>
                      </tr>
                      <tr>
                        <th scope="row">Email Template:</th>
                        <td id="view_node_email_template_name">Loading...</td>
                      </tr>
                      <tr>
                        <th scope="row">Delay Time:</th>
                        <td id="view_node_delay_time">Loading...</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- END NODE GENERAL INFO -->

              <!-- START NODE STATISTICS -->
              <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  <h4 class="panel-title">Statistics</h4>
                </a>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <table class="table table-striped">
                      <tbody>
                      <tr>
                        <th scope="row">Total Emails:</th>
                        <td id="view_node_total_emails">Loading...</td>
                      </tr>
                      <tr>
                        <th scope="row">Emails Sent:</th>
                        <td id="view_node_emails_sent">Loading...</td>
                      </tr>
                      <tr>
                        <th scope="row">Emails Opened:</th>
                        <td id="view_node_emails_opened">Loading...</td>
                      </tr>
                      <tr>
                        <th scope="row">Emails Clicked:</th>
                        <td id="view_node_emails_clicked">Loading...</td>
                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- END NODE STATISTICS -->

              <!-- START NODE EMAIL SETTINGS -->
              <div class="panel">
                <a class="panel-heading collapsed" role="tab" id="headingThree" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  <h4 class="panel-title">Email Settings</h4>
                </a>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree" aria-expanded="false" style="height: 0px;">
                  <div class="panel-body">
                    <table class="table table-striped">
                      <tbody>
                      <tr>
                        <th scope="row">Email Template:</th>
                        <td id="view_node_email_settings_template">Loading...</td>
                      </tr>
                      <tr>
                        <th scope="row">Email Description:</th>
                        <td id="view_node_email_description">Loading...</td>

                      </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
              <!-- END NODE EMAIL SETTINGS -->

            </div>

          </div>
        </div>
      </div>
    </div>
    <!-- END VIEW NODE MODAL -->



<% end %>