<% content_for :javascript do %>
    <script type="text/javascript">
        window.mainPageTitle = 'Main Page';
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                title: window.mainPageTitle,
                icon: '/shopify.png',
                buttons: {
                    secondary: {
                        label: "Mail-Funnel Home",
                        href: "http://docs.shopify.com/embedded-app-sdk",
                        target: 'new'
                    }
                }
            });
        });
    </script>


    <%= javascript_include_tag 'funnel_builder_manifest' %>
    <%= stylesheet_link_tag 'components/jquery.flowchart.css' %>

    <div class="hidden">
      <input id="current_funnel_id" type="number" value="<%= @funnel.id %>"/>
    </div>


    <div class="page-title">
      <div class="title_left">
        <h3>Funnel Editor <small><%= @funnel.attributes['attributes'].name %></small></h3>
      </div>

      <hr/>
      <div class="clearfix"></div>
    </div>


    <div class="row">
      <div class="col-xs-12">

        <div class="row">


          <!-- START RIGHT SIDE PANELS -->
          <div class="col-xs-12 col-sm-3 pull-right">

            <!-- Campaign Info Panel -->
            <div class="panel panel-primary">

              <!-- Campaign Info Title -->
              <div class="panel-heading">
                <h3 class="panel-title">Funnel Info</h3>
              </div>

              <!-- Campaign Info Body -->
              <div class="panel-body">
                <h5><b>Funnel Name: </b> <%= @funnel.attributes['attributes'].name %></h5>
                <h5><b>Description: </b> <%= @funnel.attributes['attributes'].description %></h5>
              </div>

            </div>
            <hr>
            <!-- END Campaign Info Panel -->

            <!-- Job Actions Panel -->
            <div class="panel panel-primary">

              <!-- Campaign Info Title -->
              <div class="panel-heading">
                <h3 class="panel-title">Funnel Actions</h3>
              </div>

              <!-- Campaign Info Body -->
              <div class="panel-body">
                <button class="btn btn-block btn-primary" id="create_button">Add Node</button>
                <button class="btn btn-block btn-success" style="" id="edit_selected_button">View Node Info</button>
                <button class="btn btn-block btn-danger" style="" id="delete_selected_button">Delete Node</button>
              </div>

            </div>
            <hr>
            <!-- END Job Actions Panel -->

            <!-- Select Campaign Email List Panel -->
            <div class="panel panel-primary">

              <!-- Campaign Info Title -->
              <div class="panel-heading">
                <h3 class="panel-title">Change Campaign Email List</h3>
              </div>

              <!-- Campaign Info Body -->
              <div class="panel-body">
                <div class="col-xs-12">

                </div>
              </div>

            </div>
            <!-- END Selest Campaign Email List Panel -->

          </div>
          <!-- END RIGHT SIDE PANELS -->

          <!-- START RIGHT SIDE PANELS -->
          <div class="col-xs-12 col-sm-9 pull-left">

            <!-- Campaign Info Panel -->
            <div class="panel panel-primary">

              <!-- Campaign Info Title -->
              <div class="panel-heading">
                <h3 class="panel-title">Funnel Editor</h3>
              </div>

              <!-- Campaign Info Body -->
              <div class="panel-body text-center" id="funnel_builder">


                <div class="clearfix"></div>
              </div>

            </div>
            <hr>
            <!-- END Campaign Info Panel -->

          </div>
          <!-- END RIGHT SIDE PANELS -->


        </div>
      </div>
    </div>



    <!-- NEW NODE MODAL -->
    <div class="modal fade" id="modal_node_create" aria-labelledby="#modal_node_create">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Add Node</h4>
          </div>

            <form class="form-horizontal form-label-left">

              <div class="modal-body">

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Node Label</label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <input id="new_node_label_input" type="text" class="form-control"  placeholder="Enter a label for the node"/>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3 col-sm-3 col-xs-12">Select Trigger
                  </label>
                  <div class="col-md-9 col-sm-9 col-xs-12">
                    <select class="form-control" id="new_node_trigger_select">
                      <option value="">Select A Trigger To Add...</option>
                      <% @triggers.each do |trigger| %>
                          <option value="<%= trigger.id %>"><%= trigger.attributes['attributes'].name %></option>
                      <% end %>
                    </select>
                  </div>
                </div>

              </div>

              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="reset" class="btn btn-primary">Reset</button>
                <button id="new_node_submit_button" type="button" class="btn btn-success">Submit</button>
              </div>

            </form>
        </div>
      </div>
    </div>
    <!-- END NODE MODAL -->



    <!-- VIEW NODE MODAL -->
    <div class="modal fade" id="view_node_modal">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Funnel Node Info</h4>
          </div>

            <div class="modal-body">

              <div class="accordion" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel">
                  <a class="panel-heading" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <h4 class="panel-title">General Info</h4>
                  </a>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne" aria-expanded="true">
                    <div class="panel-body">
                      <table class="table table-striped">
                        <tbody>
                        <tr>
                          <th scope="row">Node Name:</th>
                          <td>Add Product</td>
                        </tr>
                        <tr>
                          <th scope="row">Trigger Name:</th>
                          <td>Trigger 1</td>
                        </tr>
                        <tr>
                          <th scope="row">Trigger Description</th>
                          <td>When product is added to cart, this trigger is hit and a welcome email message will be sent 4 hours later.</td>
                        </tr>
                        <tr>
                          <th scope="row">Hook</th>
                          <td>Cart / Create</td>
                        </tr>
                        <tr>
                          <th scope="row">Email List</th>
                          <td>Added Product 1 to Cart Email List</td>
                        </tr>
                        <tr>
                          <th scope="row">Email Subject</th>
                          <td>Welcome</td>
                        </tr>
                        <tr>
                          <th scope="row">Email Content</th>
                          <td>We see that you recently added a product to your cart from our store. Complete your order now!</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
                <div class="panel">
                  <a class="panel-heading collapsed" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    <h4 class="panel-title">Statistics</h4>
                  </a>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo" aria-expanded="false" style="height: 0px;">
                    <div class="panel-body">
                      <table class="table table-striped">
                        <tbody>
                        <tr>
                          <th scope="row">Total Hits:</th>
                          <td>1234</td>
                        </tr>
                        <tr>
                          <th scope="row">Total Unique Hits:</th>
                          <td>987</td>
                        </tr>
                        <tr>
                          <th scope="row">Total Emails:</th>
                          <td>1075</td>
                        </tr>
                        <tr>
                          <th scope="row">Total Emails Sent:</th>
                          <td>576</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>

            </div>
        </div>
      </div>
    </div>
    <!-- END VIEW NODE MODAL -->

<% end %>