
<div class="col-xs-12">

<div class="row">
	<div class="col-xs-12">
		<!-- Create New List Form -->
		<%= render 'new_list_form' %>
		<!-- END Create New List Form -->
	</div>
</div>

	<!-- Email Lists -->
<div class="row">
<div class="col-xs-12">

	<legend>Email Lists</legend>

<!--<b><%= link_to "Create New List", root_url + "new_list" %></b>-->

	<!-- Emails Lists Table -->
	<table class="table table-striped">

		<!-- Emails List Table Headers -->
		<tr class="active" style="color: #ffffff !important">
			<th style="background-color: #008cba !important;"><h4>Name</h4></th>
			<th style="background-color: #008cba !important;"><h4>Description</h4></th>
		</tr>
		<!-- END Emails List Table Headers -->

		<!-- Emails List Table BODY -->
		<tbody>
		<% @list.each do |el| %>
				<tr>
					<td>
						<h6 class="text-primary"><a href="<%= root_url %>emails/<%= el.id %>"><%= el.name %></a></h6>
					</td>

					<td>
						<p><%= el.description %></p>
					</td>

				</tr>
		<% end %>
		</tbody>
		<!-- END Emails List Table BODY -->

	</table>
	<!-- END Email Lists Table -->

</div>
</div>
	<!-- END Email Lists -->

</div>