<% content_for :javascript do %>
		<script type="text/javascript">
        window.mainPageTitle = 'Main Page';
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                title: window.mainPageTitle,
                icon: '/shopify.png'
            });
        });
		</script>

		<%= javascript_include_tag 'pages/emailList.js' %>


    <div class="hidden">
      <input id="current_app_id" type="number" value="<%= @app.id %>"/>
    </div>

<div class="col-xs-12">

	<div class="row">
		<div class="col-xs-12">
			<div class="page-title">
				<div class="title_left">
					<h3>Email Lists</h3>
				</div>

				<div class="title_right">
					<button class="btn btn-primary btn-border pull-right" type="button" data-toggle="modal" data-target="#new_email_list_modal"><i class="fa fa-plus"></i> New List</button>
				</div>

				<hr/>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>

	<hr class="fade-2"/>


	<!-- Email Lists -->
	<div class="row">

		<!-- START DEFAULT EMAIL LIST PANEL -->
		<!-- ~~~~~~~~~~~~~~~~~~ -->
		<div class="col-md-3 col-xs-12 widget widget_tally_box">
			<div class="x_panel fixed_height_300">
				<div class="x_content">

					<h3 class="name">All Subscribers</h3>

					<div class="flex">
						<ul class="list-inline count2">
							<li>

							</li>
							<li>
								<h3>1</h3>
								<span>Subscribers</span>
							</li>
							<li>
							</li>
						</ul>
					</div>
					<br/>
					<div class="flex">
						<div class="col-xs-12">
							<a href="<%= root_url %>all_subscribers" class="btn btn-block btn-border btn-primary">View</a>
						</div>

					</div>

				</div>
			</div>
		</div>
		<!-- ~~~~~~~~~~~~~~~~ -->
		<!-- END DEFAULT EMAIL LIST PANEL -->

    <% if @lists.any? %>
        <% @lists.each do |list| %>

            <!-- START DEFAULT EMAIL LIST PANEL -->
            <!-- ~~~~~~~~~~~~~~~~~~ -->
            <div class="col-md-3 col-xs-12 widget widget_tally_box">
              <div class="x_panel fixed_height_300">
                <div class="x_content trunc">

                  <h3 class="name"><%= list.name %></h3>

                  <div class="flex">
                    <ul class="list-inline count2">
                      <li>

                      </li>
                      <li>
                        <h3><%= list.subscribers.size %></h3>
                        <span>Subscribers</span>
                      </li>
                      <li>
                      </li>
                    </ul>
                  </div>
                  <br/>
                  <div class="flex">
                    <div class="col-xs-12">
                      <a href="<%= root_url %>all_subscribers" class="btn btn-block btn-border btn-primary">View</a>
                    </div>
                  </div>

                </div>
              </div>
            </div>
            <!-- ~~~~~~~~~~~~~~~~ -->
            <!-- END DEFAULT EMAIL LIST PANEL -->
        <% end %>
    <% end %>


	</div>

	<div id="new_email_list_modal" class="modal fade bs-example-modal-sm">
		<div class="modal-dialog modal-md">
			<div class="modal-content">

				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">×</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Create New Email List</h4>
				</div>

				<form class="form-horizontal form-label-left">

					<div class="modal-body">

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">List Name</label>
							<div class="col-md-9 col-sm-9 col-xs-12">
								<input id="email_list_name_input" type="text" class="form-control" placeholder="List Name">
							</div>
						</div>

						<div class="form-group">
							<label class="control-label col-md-3 col-sm-3 col-xs-12">List Description
							</label>
							<div class="col-md-9 col-sm-9 col-xs-12">
								<textarea id="email_list_description_input" class="form-control" rows="3" placeholder="List Description"></textarea>
							</div>
						</div>


					</div>

					<div class="modal-footer">
						<button id="new_email_list_submit_button" type="button" class="btn btn-success">Submit</button>
					</div>

				</form>

			</div>
		</div>
	</div>








</div>


<% end %>