<!DOCTYPE html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width" />

  <style type="text/css">
    * {
      margin: 0;
      padding: 0;
      font-size: 100%;
      font-family: 'Avenir Next', "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
      line-height: 1.65;
    }

    body,
    .body-wrap {
      width: 100%;
      height: 100%;
      background: #f7f7f7;
      -webkit-font-smoothing: antialiased;
      -webkit-text-size-adjust: none;
    }

    .email_footer {
      background-color: #e5e7e7;
    }

    .email_content {
      margin-right: 22px;
      margin-left: 22px;
    }

    .email_info h2 {
      font-size: 20px;
    }

    .button {
      display: inline-block;
      color: white;
      background: #3498db;
      padding: 10px 20px 8px;
      font-weight: bold;
      border-radius: 4px;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      margin-bottom: 20px;
      line-height: 1.25;
    }

    h1 {
      font-size: 32px;
    }

    h2 {
      font-size: 28px;
    }

    p,
    ul,
    ol {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: 20px;
    }

    .container {
      display: block !important;
      clear: both !important;
      margin: 0 auto !important;
      max-width: 100% !important;
    }

    .container table {
      width: 100% !important;
      border-collapse: collapse;
    }

    .container .email_title {
      padding: 80px 0;
      background: #3498db;
      color: white;
    }

    .container .email_title h1 {
      margin: 0 auto !important;
      max-width: 90%;
    }

    .container .content {
      background: white;
      padding: 30px 35px;
    }

    .container .content.email_footer {
      background: none;
    }

    .container .content.email_footer p {
      margin-bottom: 0;
      color: #888;
      text-align: center;
      font-size: 14px;
    }

    .container .content.email_footer a {
      color: #888;
      text-decoration: none;
      font-weight: bold;
    }
  </style>
</head>


<body>
<!-- START MESSAGE VIEW -->
<!-- ~~~~~~~~~~~~~~~~~~ -->
<div class="row email_content">


    <table class="body-wrap">
      <tr>
        <td class="container">
          <table>
            <tr>
              <td align="center" style="background: <%= @template.color %>;" class="email_title">
                <h1><%= @template.email_title %></h1>
              </td>
            </tr>
            <tr>
              <td class="content">

                <h2>Hi <%= @subscriber.first_name %>,</h2>

                <p> <%= @template.email_content %></p>

                <table>
                  <tr>
                    <td align="center">
                      <% if template.has_button %>
                          <p>
                            <a href="http://mailfunnels-server.herokuapp.com/email_clicked/<%= @email_job.id %>" style="background: <%= @template.color %>;" class="button"> <%= @template.button_text %> </a>
                          </p>
                      <% end %>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </td>
      </tr>
      <tr>
        <td class="container email_footer">
          <!--Need to include unsubscribe link-->
          <table>
            <tr>
              <td class="content email_footer" align="center">
                <p><a href="http://mailfunnels-server.herokuapp.com/unsubscribe/<%= @subscriber.id %>">Unsubscribe</a></p>
              </td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
</div>
<!-- ~~~~~~~~~~~~~~~~ -->
<!-- END MESSAGE VIEW -->
</body>

</html>
