
<% content_for :javascript do %>
    <script type="text/javascript">
        window.mainPageTitle = 'Main Page';
        ShopifyApp.ready(function () {
            ShopifyApp.Bar.initialize({
                title: window.mainPageTitle,
                icon: '/shopify.png'
            });
            function goBack() {
                window.history.back();
            }
        });
    </script>

    <%= javascript_include_tag 'pages/emailtemplates.js' %>
    <%= stylesheet_link_tag 'EmailTemplate/simple.css' %>


    <div class="hidden">
      <input id="current_app_id" type="number" value="<%= @app.id %>"/>
    </div>


    <div class="row">
      <div class="col-xs-12">
        <div class="page-title email_info">

          <div class="title_left">
            <h3>Email View <small><%= @template.name %></small></h3>
          </div>

          <div class="title_right">
            <a href="<%= root_url %>email_templates" class="btn btn-primary btn-border pull-right" ><i class="fa fa-chevron-left"></i> Back</a>
          </div>
          <div class="clearfix"></div>
        </div>
      </div>
    </div>


    <hr class="fade-2"/>

    <div class="row">
      <div class="col-xs-12 col-md-10 col-lg-8 col-md-offset-1 col-lg-offset-2">

        <!-- START MESSAGE VIEW -->
        <!-- ~~~~~~~~~~~~~~~~~~ -->
        <div class="row email_content">

          <table class="body-wrap">
            <tr>
              <td class="container">
                <table>
                  <tr>
                    <td align="center" class="email_title">
                      <h1 class="email_template"><%= @template.email_title %></h1>
                    </td>
                  </tr>
                  <tr>
                    <td class="content">

                      <h2>Hi Customer,</h2>

                      <p> <%= @template.email_content %></p>

                      <table>
                        <tr>
                          <td align="center">
                            <% if @template.has_button %>
                                <p>
                                  <a href="<%= @template.button_url %>" class="button"> <%= @template.button_text %> </a>
                                </p>
                            <% end %>
                          </td>
                        </tr>
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
            <tr>
              <td class="container email_footer">
                <!--Need to include unsubscribe link-->
                <table>
                  <tr>
                    <td class="content email_footer" align="center">
                      <p><a href= "#">Unsubscribe</a></p>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <!-- ~~~~~~~~~~~~~~~~ -->
        <!-- END MESSAGE VIEW -->
      </div>
    </div>


<% end %>
